$icon-font-path: '../fonts/';

//// bower:scss
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
//// endbower

//.browserupgrade {
//  margin: 0.2em 0;
//  background: #ccc;
//  color: #000;
//  padding: 0.2em 0;
//}



/* RESET STYLES */



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }


/*END OF STYLES RESET*/



/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f2f2;
  @media screen and (max-width:720px){
    padding: none;
        }
}
/* Logo section*/

.logo {
  width:250px;
  max-width: auto;
  margin:0 auto 15px auto;
  @media screen and (max-width:720px){
    width:190px;
    margin:0 auto;
    padding:none;
        }
}
.buttonnav{
    width:25px;
    visibility: hidden;
  @media screen and (max-width:720px){
    visibility: visible;
  }
     
}

/* Page container */
.container{
 max-width: 700px;
    @media screen and (max-width:720px){
      max-width:320px;}
 margin: 0 auto;
 img {max-width:700px;
 }


/* Navigation menu*/


.nav{
  padding-left: 2px;
  @media screen and (max-width:720px){
    
  
  }
  ul{
    list-style-type: none;
    text-align: center;
  }
      li{    
        display: inline-block;
        a{
          text-transform:uppercase;
          font-family: sans-serif;
          font-style: normal;
          font-size:15px;
          text-decoration: none;
          border-right:1px solid;
          color:#5a5a5a;
          padding:0 5px 0 0;
        }
        &:nth-last-child(2) a{
          border:none;
        }
        &:last-child a{
          margin-left:25px;
          font-size: 12px;
          border:none;
          color:#6d8f5d;
        }
    }  
    @media screen and (max-width:720px){
      visibility: hidden;
  }
}

/* Section directly under main nav */
.top{
  padding: 0px;
  display: block;
  margin:0 auto 5px auto;
  img{   
    margin:15px 15px 0px 0px;
    width:700px;
  }
  @media screen and (max-width:720px){
    width:320px;
    overflow:hidden;
    }
  }

/* Horizontal divider line */

.long-line {
  margin-top:30px;
  @media screen and (max-width:720px){
    display:none;
    margin:0;
    padding: 0px;
  
  }
  }

/* This week's features */
  .features{
    margin:0 auto;
    width:60%;
    @media screen and (max-width:720px){
      width:90%;}
      .curl{
      width:40px;
      display: inline-block;
      float:none;
    }  
    .this_week{
      margin:15px auto;
      display: inline-block;
      float:none;
      text-transform:uppercase;
      font-family: sans-serif;
      text-align: center;
      font-style: normal;
      font-size:22px;
      color:#5a5a5a;
    }
    @media screen and (max-width:720px){
      width:90%;
      .curl{
      width:30px;
      }
      .this_week{
      font-size:18px;
      }
    }
   
}
/* This adds the image borders*/
  
    .bottom-bordered{
      width:96%;
      border-style: solid transparent;
      border-width: 0px 0px 6px;
      -moz-border-image: url(/images/short-line.png) 0 0 35 stretch;
      -webkit-border-image: url(/images/short-line.png) 0 0 35 stretch;
      -o-border-image: url(/images/short-line.png) 0 0 35 stretch;
      border-image: url(/images/short-line.png) 0 0 35 stretch;
    }
/* Section with 3 images */
    .column-container{
      p{
        margin-top:15px;
        text-align: center;
        text-transform: uppercase;
        font-family: sans-serif;
        color:#5a5a5a;
        @media screen and (max-width:720px){
          font-size:18px;
        margin-bottom: 15px;
        }
      }
      img{
        width:220px;
        margin:0;float:none;
        @media screen and (max-width:720px){
          width:320px;
      }
      }
      .column-latest{
        float: left;
        width: 33%;
        @media screen and (max-width:720px){
        clear:both;
        width:100%;
        display: block;
        
        }
      }
      .column-newest{
        float: right;
        width: 33%;
        @media screen and (max-width:720px){
        clear: both;
        width:100%;
        display: block;
      }
      }
      .column-offer{
        display: inline-block;
        width: 33%;
        @media screen and (max-width:720px){
        clear: both;
        width:100%;
        display: block;
      }
    }

    }


/* Section with 2 images */
      .column-container2{
        margin-top:40px;
        clear:both;
        display:inline-block;
        img{
        width:100%;
      }      
      .column-featured{
        float:left;
        width:49%;
        @media screen and (max-width:720px){
        clear:both;
        width:100%;
        display: block;
        margin-top:0px;
        }
      }
      .column-cooks{
        float:right;
        width:49%;
        @media screen and (max-width:720px){
        clear:both;
        width:100%;
        display: block;
        margin-top:25px;
        }
      }

  }

}

 